body{
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 50px;

}
.mission-color{
    color: rgb(231, 118, 165);
    margin-top: 0px;
}
.explore{
    text-decoration: none;
    background-image: linear-gradient(#b888bd,#bd888b );
    padding: 10px 40px;
    color: cornsilk;
    font-weight: 800;
    border-radius: 5px;
}
.first-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;

}
.text{
    margin-left: 140px;
}
.text-border{
    border-left: 4px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(144, 89, 247), 
      #b888bd
    ) 1 100%;

}
.half-width img{
    width: 80%;
}
.mission-card{
    width: 30%;
    background-color: darkkhaki;
    border-radius: 10px;
}
.card-2{
    background-color: rgb(130, 214, 158);
}
.card-3{
    background-color: darksalmon;
}
.card-content{
    padding: 10px;


}
.all-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin-left: 190px;
    margin-bottom: 100px;
}
.contact{
    width:50%;
   margin-left: 380px;
}

/* contact css start */
input[type=text],[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-image: linear-gradient(#b888bd,#bd888b );
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* contact css end */

footer{
    padding: 25px;
    background-color: black;
    margin-top: 100px;
}



